{% extends 'layouts/layout.html' %}
{% block content %}

<head>
    {% comment %}
    <script src="js/jquery-3.3.1.min.js"></script> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'calendar-19/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'calendar-19/fullcalendar/packages/core/main.css' %}">
    <link rel="stylesheet" href="{% static 'calendar-19/fullcalendar/packages/daygrid/main.css' %}">
    <link rel="stylesheet" href="{% static 'calendar-19/css/style.css' %}">

</head>
{% comment %} <button class="btn btn-primary" id="btn_download_attendances">Download Attendances</button>
<button class="btn btn-primary" id="btn_download_employees">Download Employees</button> {% endcomment %}
<div class="modal fade" id="modal_add">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Events</h5>
            </div>
            <form id="form_add">
                {% csrf_token %}
                <div class="modal-body">
                        {{ form }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_delete">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Events</h5>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-9">
                        <select name="" id="select_event_list" class="form-select">Events</select>
                    </div>  
                    <div class="col-md-3">
                        <button class="btn btn-danger" id="btn_delete">Delete</button>
                        
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                </div>
        </div>
    </div>
</div>
<div id='calendar' class="w-100">

    {% load static %}

</div>
</div>
<script src="{% static 'calendar-19/js/popper.min.js' %}"></script>
<script src="{% static 'calendar-19/fullcalendar/packages/core/main.js' %}"></script>
<script src="{% static 'calendar-19/fullcalendar/packages/interaction/main.js' %}"></script>
<script src="{% static 'calendar-19/fullcalendar/packages/daygrid/main.js' %}"></script>

<script>
$(document).ready(function () {
    $(".btn-cancel").click(function(){
        //console.log('close')
        $(this).closest('.modal').modal('hide')
    })
    $("#form_add").submit(function(event) {
        event.preventDefault()
        var form = $(this)
        var formData = new FormData(form[0])
        $.ajax({
            type: "POST",
            url: "/hr/events/add/",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log(response)
                calendar.refetchEvents();


                form.trigger('reset')
                $('.modal').modal('hide')
                //employees_table.ajax.reload()
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                console.log(xhr, status, error);
            }
        });
    })
    $("#btn_delete").click(function(){
        var event_id = $("#select_event_list").val()
        console.log(event_id)
        $.ajax({
            type: "GET",
            url: `/hr/events/delete/${event_id}`,
            success: function (response) {
                console.log(response)
                fetch_event_list()
                calendar.refetchEvents();
            }
        });
    })
    function fetch_event_list(){
        var modal = $("#modal_delete")

        $.ajax({
            type: "GET",
            url: "/hr/events/fetch/",
            success: function (response) {
                records = response
                var select = $("#select_event_list")

                select.empty()
                select.append(`<option disabled selected>--Select Events to Delete--</option>`)
                $.each(records, function (key, value) { 
                    console.log(key, value)
                    select.append(`<option value="${value.id}">${value.title} ${value.start}-${value.end}</option>`)
                });
                modal.modal('show')
                {% comment %} console.log(response) {% endcomment %}
            }
        });
    }

    var calendarEl = document.getElementById('calendar');
    // This arrangement can be altered based on how we want the date's format to appear.
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['interaction', 'dayGrid'],
        defaultDate: new Date(),
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,dayGridWeek,dayGridDay addButton, deleteButton'
        },
        customButtons: {
            addButton: {
                text: 'Add',
                click: function() {
                    $("#modal_add").modal('show')
                }
            },
            deleteButton: {
                text: 'Delete',
                click: function() {
                    fetch_event_list()
                }
            }
        },
        events: '/hr/events/fetch/',
        eventColor: '#1a1aff',

    });

    calendar.render();

});
    //document.addEventListener('DOMContentLoaded', function() {
    //});
</script>

{% comment %} <script src="js/main.js"></script> {% endcomment %}

{% comment %} {% load static %} {% endcomment %}
{% comment %}
<script src="{% static 'index.js' %}"></script> {% endcomment %}

{% endblock %}
