<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
        </div>
        <div>
            <a class="navbar-brand brand-logo" href="/biometrics/">
                <img src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t39.30808-6/416361143_122125727582089381_3309425164273868685_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG4FJYx_TDkIQizMp7LLNqWmC6XjumrQbCYLpeO6atBsP6v95w4hrdRzma2bA0Ha_p3PaDUECChLzNKspA18lPU&_nc_ohc=-kK-fpTpCEkQ7kNvgHM3M3b&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfD05ta2KjoeYaDc0lzXiW--7XsDQvqzMLbHsXVw-CQcLA&oe=66423F99" alt="logo" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="/biometrics/">
                <img src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t39.30808-6/416361143_122125727582089381_3309425164273868685_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG4FJYx_TDkIQizMp7LLNqWmC6XjumrQbCYLpeO6atBsP6v95w4hrdRzma2bA0Ha_p3PaDUECChLzNKspA18lPU&_nc_ohc=-kK-fpTpCEkQ7kNvgHM3M3b&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfD05ta2KjoeYaDc0lzXiW--7XsDQvqzMLbHsXVw-CQcLA&oe=66423F99" alt="logo" />
            </a>
        </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
            <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                <h1 class="welcome-text">Welcome to, <span class="text-black fw-bold">ABIC Corporation's Attendance System</span></h1>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
                    <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
            {% comment %} <li class="nav-item dropdown">
                <a class="nav-link count-indicator position-relative" id="countDropdown" href="#"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="icon-mail icon-lg"></i>
                    <span
                        class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"
                        id="inquiry_alert" hidden>
                        <span class="visually-hidden">unread messages</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                    aria-labelledby="countDropdown">
                    <a class="dropdown-item py-3" href="">
                        <p class="mb-0 font-weight-medium float-left"> <span id="unseen_status_view"></span>
                        </p>
                        <span class="badge badge-pill badge-primary float-right">View all</span>
                    </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li> {% endcomment %}
            <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                {% comment %} <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="img-xs rounded-circle" src="../assets/images/faces/face8.jpg" alt="Profile image">
                </a> {% endcomment %}
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    <div class="dropdown-header text-center">
                        <img class="img-md rounded-circle" src="../assets/images/faces/face8.jpg" alt="Profile image">
                        <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                        <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
                    </div>
                    <a class="dropdown-item"><i
                            class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My
                        Profile <span class="badge badge-pill badge-danger">1</span></a>
                    <a class="dropdown-item"><i
                            class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i>
                        Messages</a>
                    <a class="dropdown-item"><i
                            class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i>
                        Activity</a>
                    <a class="dropdown-item"><i
                            class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i>
                        FAQ</a>
                    <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign
                        Out</a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
